/* Soluzione qui */
/* Modalità Tablet (sopra i 768px)

X Il logo nell'header si allinea a sinistra
x Il padding del contenuto principale della pagina aumenta
X Compare il testo "(Dolce Tradizionale)"
X La grandezza del titolo diventa più grande
Le informazioni della ricetta sotto il video si dispongono a griglia
I bottoni social si allargano
compare il banner pubblicitario
l'immagine nella descrizione della ricetta viene circondata dal testo */

@media screen and (min-width:767px) {
    #topbar {
        justify-content: left;
    }

    .recipe-info {
        padding: 50px;
    }

    .well {
        padding: 30px;
    }

    .presentation {
        padding: 30px;
    }

    .recipe-origin {
        display: inline;
    }

    .recipe-name {
        font-size: 2rem;
    }
}