/* Soluzione qui 

Il video e le altre informazioni della ricetta si dispongono uno accanto all'altro
Compaiono i nomi delle piattaforme social
Nel footer i dati del sito e il menu di navigazione di dispongono sulla stessa linea ma su lati opposti


*/


/* Modalità Tablet (sopra i 768px) */
@media screen and (min-width:767px) {
    /* Il logo nell'header si allinea a sinistra */
    #topbar {
        justify-content: left;
    }
    /* Il padding del contenuto principale della pagina aumenta */
    .recipe-info {
        padding: 50px;
    }

    .well {
        padding: 30px;
    }

    .presentation {
        padding: 30px;
    }
    /* Compare il testo "(Dolce Tradizionale)" */
    .recipe-origin {
        display: inline;
    }
    /* La grandezza del titolo diventa più grande */
    .recipe-name {
        font-size: 2rem;
    }
    /* Le informazioni della ricetta sotto il video si dispongono a griglia */
    .quick-notes {
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }
    }
    .quick-notes li {
        width: calc((100%/3) - (15px*2)/3);
}
/* I bottoni social si allargano */
.btn {
    font-size: 28px;
}

/* compare il banner pubblicitario */
.ads {
    display: block;
}
/* l'immagine nella descrizione della ricetta viene circondata dal testo */
 .clearfix {
    img {
        float: left;
        margin: 1rem;
    }
 }
}

/* Modalità Desktop(sopra i 992px) */
@media screen and (min-width: 991px) {
    /* La grandezza del titolo della ricetta aumenta ancora di più */
    .recipe-name {
        font-size: 3rem;
    }
    /* Le informazioni della ricetta tornano a disporsi una sotto l'altra */
.quick-notes {
        ul {
            display: block;
        }
    }
}